/*GENERAL*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: Arial, sans-serif;
    background-color: #f7f0e5;
    color: #24203a;
}

/*ENCABEZADO*/
header
{
    background-color: #17132b;
    padding: 20px 7%;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #d9ad5b;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}
.logo img
{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

nav ul
{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a
{
    color: #f8f1e5;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover
{
color: #d9ad5b;
}

nav ul li a.activo
{
    color: #d9ad5b;

}

/*INICIO*/

.inicio
{
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 7%;

    background-image:linear-gradient(rgba(23, 19, 43, 0.75), rgba(23, 19, 43, 0.75)), url("https://img.freepik.com/fotos-premium/tablero-madera-cafeteria-arte-paredes-ideal-productos-cafe-artesanales_839035-251476.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #17132b;
}

.contenidoinicio
{
    max-width: 750px;
    color: #f8f1e5;
}

.subtitulo
{
    color: #d9ad5b;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.contenidoinicio h1
{
    font-size: 4rem;
    margin-bottom: 20px;
}

.descripcion
{
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 35px;
}

/*BOTON*/

.boton
{
    display: inline-block;
    background-color: #d9ad5b;
    color: #17132b;
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.boton:hover
{
    background-color: #f8f1e5;
    transform: translateY(-3px);
}

/*CARACTERISTICAS*/

.caracteristicas
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 70px 7%;
    background-color: #f8f1e5;
}

.caracteristicas article
{
    background-color: #ffffff;
    padding: 35px 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(23, 19, 43, 0.12);
}

.caracteristicas article img
{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.caracteristicas h2
{
    color: #2d2354;
    margin: 15px 0;
}

.caracteristicas p
{
    color: #55505f;
    line-height: 1.6;
}

/*PIE*/

footer
{
    background-color: #17132b;
    color: #f8f1e5;
    text-align: center;
    padding: 25px 7%;
}

/*RESPOSIVO*/

@media (max-width: 768)
{
    .logo img 
    {
        width: 42px;
        height: 42px;
    }


    header
    {
        padding: 18px 5%;
    }

    nav
    {
        flex-direction: column;
        gap: 20px;
    }

    nav ul
    {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .inicio
    {
        min-height: 70vh;
        padding: 50px 5%;
    }

    .contenido-inicio h1
    {
        font-size: 2.5rem;
    }

    .descripcion
    {
        font-size: 1rem;
    }

    .caracteristicas
    {
        grid-template-columns: 1fr;
        padding: 50px 5%;
    }

    .caracteristicas article img
    {
        height: 200px;
    }
}

/*MENU*/

.menu
{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.menu h1
{
    text-align: center;
    color: #2d1b45;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.menup
{
    text-align: center;
    color: #555;
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto 50px;
}

/*CATEGORIA*/

.categoria
{
    margin-bottom: 60px;
}

.categoria h2
{
    color: #2d1b45;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid #c9a227;
}

/*PRODUCTOS*/

.productos
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1050px;
    margin: 0 auto;
}

.producto
{
    background-color: #fffaf0;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0 ,0.2);
    transition: transform 0.3s ease, box shadow 0.3s ease;
}

.producto:hover
{
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.20);
}

/*IMAGENS*/

.producto img
{
    width: 100%;
    height: 210px;
    object-fit: cover;
    display: block;
}


/*PRODUCTO DESCRIPCION*/

.producto h3
{
    color: #2d1b45;
    font-size: 1.3rem;
    margin: 18px 10px 8px;
}

.producto p
{
    color: #555;
    font-size: 0.95rem;
    line-height: 1.5;
    margin: 0 15px 15px;
}

.producto span
{
    display: block;
    color: #b38b00;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/*CELULAR*/

@media (max-width: 900px)
{
    header
    {
        padding: 18px 5%;
    }

    nav
    {
        flex-direction: column;
        gap: 20px;
    }

    nav ul
    {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo img 
    {
        width: 42px;
        height: 42px;
    }

    .logo
    {
        font-size: 1.3rem;
    }

    .productos
    {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px)
{
    nav
    {
        flex-direction: column;
        gap: 20px;
    }

    nav ul
    {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo img 
    {
        width: 42px;
        height: 42px;
    }

    .logo
    {
        font-size: 1.3rem;
    }
    
    .menu
    {
        width: 92%;
        padding: 35px 0;
    }

    .menu h1
    {
        font-size: 2rem;
    }

    .menup
    {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 35px;
    }

    .categoria
    {
        margin-bottom: 45px;
    }

    .categoria h2
    {
        font-size: 1.6rem;
    }

    .productos
    {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .producto img
    {
        height: 220px;
    }

}